<meta charset="UTF-8" />
<title>@@title | Frontend Boilerplate</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="/assets/images/icon.webp" type="image/webp" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=REM:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" type="text/css" href="/assets/css/vendor.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/lib.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/all.min.css" />
